.home{
    width: 100%;
    height: 100vh;
    position: relative;
}
@media(min-width: 850px){
    .home{
        overflow: hidden;
    }
}
#home_title{
    color: white;
    /* border: 2px solid white;   */
    z-index: 5;
    font-family: 'Megrim', cursive;
    text-align: right;
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 25px;
    padding-right: 20px;
    visibility: hidden;
}
#home_title h1{
     font-family: 'Megrim', cursive;
     font-size: 100px; 
    /* font-family: 'Gloria Hallelujah', cursive; */
     /* font-family: 'Indie Flower', cursive;  */
     /* font-family: 'Amatic SC', cursive;  */
}
@media(max-width: 480px){
    #home_title h1{
        font-size: 50px;
    }
}
* {
    margin: 0;
    padding: 0;
}
@keyframes move-comet{
    from{ top: -103px; left: -191px;; }
    to{ top: 950px; left: 1100px}
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.comet{
    position: absolute;
    top: -103px;
    left: -191px;
    display: block;
    height: 100px;
    width: 200px;
    transform: rotate(235deg);
    /* background: red; */
    background: transparent url(http://kraftenidetmulige.no/css/pi/elements/comet/comet.png) center no-repeat; 
    z-index: 5;
    background-size: cover;
      animation: move-comet 15s linear infinite;
    -moz-animation:move-comet 15s linear infinite;
    -ms-animation:move-comet 15s linear infinite;
    -o-animation:move-comet 15s linear infinite;
    -webkit-animation:move-comet 15s linear infinite;  
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  position: fixed;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
.clouds{
    background:transparent url(http://pngimg.com/uploads/cloud/cloud_PNG10.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}
#about{
    height: auto;
    width: auto;
    color: white;
    font-size: 20px;
    opacity: 0.5;
    position: absolute;
    z-index: 5;
    bottom: 30px;
    left: 30px;
    font-family: 'Megrim', cursive;
    font-size: 30px;
}
#about:hover{
    opacity: 1;
    cursor: pointer;
}



