#libra_info{
    position: relative;
    top: 75px;
    height: 70%;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    background: #E9A9D8;
    opacity: 0.4;
    text-align: center;
    margin-bottom: 50px;
}