#aqua_info{
    position: relative;
    top: 75px;
    height: 70%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    background: #6DF5FE;
    opacity: 0.4;
    text-align: center;
}